{% extends "base.html" %}
{% block content %}
<div class="text-center mt-5">
  <h1>Mini HMS</h1>
  <p class="lead">Doctor availability & patient booking demo</p>

  {% if user.is_authenticated %}
    {% if user.profile.role == "doctor" %}
      <a class="btn btn-primary" href="{% url 'appointments:doctor_dashboard' %}">Doctor Dashboard</a>
    {% else %}
      <a class="btn btn-success" href="{% url 'appointments:doctors_list' %}">Book Appointment</a>
    {% endif %}
  {% else %}
    <a class="btn btn-primary" href="{% url 'users:signup' %}">Sign up</a>
    <a class="btn btn-dark" href="{% url 'users:login' %}">Login</a>
  {% endif %}
</div>
{% endblock %}
